.floating
    position: fixed
    top: 0
    right: 0
    z-index: 500
    padding: 3rem

section#networkStatus
    // background: white
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 0

    .panel1
        background: orange
        padding: 2.5rem 1rem 1.85rem
        text-align: center
        position: relative

        .nwstate
            padding-left: 20px
            font-size: 55px
            font-weight: bold
            letter-spacing: -1px
            line-height: 1
            display: inline-block

            #nwPerc
                font-size: 100px

        .label
            color: #333333
            font-size: 30px
            line-height: 1
            display: inline-block
            letter-spacing: -1px
            padding: 0 1.5rem
            // height: 82px
            // vertical-align: top

    .panel2
        // background: black
        color: #eeeeee
        padding: $grid-gutter-width
        flex-grow: 0
        flex-basis: 0
        margin: $grid-gutter-width 0

        table
            table-layout: fixed
            text-align: center
            td
                border-top: none
                font-size: 13px
                font-weight: bold
            th
                border-color: rgba(255,255,255,0.15)
                text-align: center
                font-size: 14px
    .panel3
        font-size: 2.25rem
        line-height: 1.5
        background: rgba(0,0,0,0.4)
        padding: 1.5rem 2.5rem
        color: #fff
        border: 4px solid #fff

        p
            margin: 1.5rem 0

    .panel4
        padding-bottom: 1.5rem 0
        flex-grow: 1
        flex-basis: 0


#bargraph
    margin-top: 10px

    td
        height: 300px
        position: relative

        div
            position: absolute
            bottom: 0
            left: 10px
            right: 10px
            height: 0%
            background: #26d926

            transition: height 2s ease-in-out

            &#nodata
                background: #95a5a6
            &#earlier
                background: #3c42a5
                // background: #95a5a6
            &#early
                background: #28aebb
                // background: #ecf0f1
            &#late
                background: #f39c12
            &#later
                background: #d35400
            &#quitelate
                background: red
            &#verylate
                background: #990000

#historytrace
    // background: pink
    height: 200px
    width: 100%

    .traceline
        fill: none
        stroke: #26d926
        stroke-width: 3
        opacity: 1

    .traceearly
        stroke: #3c42a5

    .tracelate
        stroke: #d35400

    .axis
        stroke
            stroke: white
            stroke-width: 1
        path
            stroke: none
        text
            fill: white
            font-size: 12px
            font-weight: bold

    .axis-left
        transform: translateX(30px)
    .axis-top
        transform: translateY(20px)
