section#networkRegions
    // background: lightblue

    padding: 0
    display: flex
    justify-content: space-between

    text-align: center
    height: 0
    overflow: hidden
    transition: height 1s ease-in-out

    .region-status
        flex-grow: 1
        flex-basis: 0
        margin: $grid-gutter-width $grid-gutter-width / 2 0
        padding: 10px 0 5px

        &:first-child
            margin-left: 0
        &:last-child
            margin-right: 0
