html, body, #mainContainer
    height: 100%

#mainContainer>.row, #mainContainer>.row>div
    height: 100%

#mainContainer
    padding: $grid-gutter-width

section
    height: 100%
    padding: $grid-gutter-width

h1, h2, h3
    margin-top: 0
